<h2>New Contact Created</h2>

<a href="/contactList">All Contacts</a>

<li>
  <h3>Name: @Model.GetName()</h3>
  <ul>
    <li>
      Phone Number: @Model.GetPhoneNumber()
    </li>
    <li>
      Address: @Model.GetAddress()
    </li>
  </li>
  </ul>
